services:
  app:
    build: .
    container_name: umkm-backend-app
    restart: unless-stopped
    ports:
      - "5000:5000" # Mapping port container ke port host (host:container)
    environment:
      NODE_ENV: production
      PORT: 5000
      MONGODB_URI: mongodb://31.97.49.97:27017/ # Sesuaikan dengan URI MongoDB Anda mongodb://31.97.49.97:27017/
      JWT_SECRET: CZJMSEwVhzvnb8mUW/xg3wSaCpk0m0PkdjjIFg1h1GM=
      JWT_EXPIRE: 2h
      FRONTEND_URL: http://localhost:5173
    volumes:
      # - .:/usr/src/app # Sinkronisasi kode lokal dengan container (untuk development)
      - /usr/src/app
      - /usr/src/app/node_modules # Pastikan node_modules di container tidak ditimpa
      - /usr/src/app/logs # Volume untuk menyimpan log
      - /usr/src/app/uploads # Volume untuk menyimpan file uploads
    networks:
      - main

networks:
  main:
    external: true
